* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 1400px;
    min-height: 350px;
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

header {
    background-image: url(../img/jumbo.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    text-align: center;
    margin-bottom: 100px;
}

.navbar {
    width: 90%;
    margin: 0 auto;
    padding: 2em 2em;
}

.logo {
    float: left;
}

.accedi {
    float: right;
    padding: 0 1.5em;
    border-radius: 2.5em;
    border: 0;
}

.accedi:hover,
.download:hover {
    color: rgb(47%, 50%, 93%);
    box-shadow: 5px 10px 18px black;
}

.dark:hover {
    background-color: rgb(20%, 21%, 23%);
    box-shadow: 5px 10px 18px black;

}

.logo,
.nav,
.accedi {
    display: inline-block;
    line-height: 34px;   
}

ul {
    list-style: none;
}

header li {
    display: inline-block;
    color: white;
    font-weight: 600;
    text-align: start;
    padding: 0 .8rem;
}

li:hover {
    text-decoration: underline;
}

.article-main {
    color: white;
    width: 50%;
    padding: 0 0.8em;   
    margin: 60px auto;

}


.article-main h1 {
    font-weight: bolder;
    font-size: 3.7em;
    letter-spacing: 1rem;
    padding: 0px 0.8rem;
    margin: 0 0.8rem;
}

.article-main p {
    margin-top: 2rem;
    font-size: 1.1rem;
}

.buttons {
    margin-top: 60px; 
    display: inline-block;
}

.btn {
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    border-radius: 2.5em;
    border: 0;
    display: inline-block;
    margin-left: 1.5rem;
    margin-right: -1rem;
    
}

.download{
    float: left;
    margin-right: 3rem;
    
 }

.dark {
    float: right;
    margin-left: -1.5rem;
    background-color: rgb(14%, 15%, 16%);
    color: white;
}

.container-main {
    width: 90%;
    margin: 0 auto;
 }

.container-tex,
.container-image {
    width: 40%;
    display: inline-block;
    text-align: center;
}

.container-image {
    width: 53%;
}

.container-text {
    width: 30%;
    float: right;
    margin: 150px 100px;
}


.row:nth-child(2n+1) .container-image {
    float: right;
}

.row:nth-child(2n+1) {
    background-color: rgb(96%, 96%, 96%);
    padding: 100px 0;
    margin: 100px auto;
}

.img-fullscreen {
    width: 90%;
    margin: 0 auto;
    color: black;
    text-align: center;
}

.img-fullscreen h1{
    
    font-weight: bolder;
    font-size: 3.7em;
}

.img-fullscreen p{
    margin-top: 2rem;
    font-size: 1.1rem;
}

.img-fullscreen img {
    width: 100%;
}
.centrato {
    text-align: center;
    margin: 0 auto;
}

.start {
    display: inline-block;

}

.start h1 {
    background-image: url(../img/stars.svg);
    background-position: inherit;
    font-size: 2rem;
    padding-top: 1.5rem;
}

.download1 {
    background-color: rgb(36%, 40%, 92%);
    margin-top: 30px;
}

.download1:hover {
    color: white;
    background-color: rgb(47%, 50%, 93%);
    box-shadow: 5px 10px 18px black;
}

footer {
    margin-top: 50px;
    background-color: rgb(12%, 12%, 12%);
}
.main-footer {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
}

.big,
.small {
    padding-top: 20px;
    color: white;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
.big {
    width: 30%;
    

}
.big h1 {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 2rem;
    color: rgb(36%, 40%, 92%);
    margin-right: 20px;
}
.small {
    width: 15%;
    line-height: 26px;
}

.main-footer div::first-line {
    color: rgb(36%, 40%, 92%);
}

.language {
    margin-top: 15px;
    display: inline-block;
}

.language img {
    width: 24px;
    height: 16px;
    margin-right: 5px;
    float: left;
}

.language p {
    float: left;
}

.social {
    margin-top: 15px;
}
.end {
    width: 90%;
    margin: 0 auto;
    padding: 26px 0;
    border-top: 1px solid rgb(36%, 40%, 92%);
}
.end button {
    float: right;
}

.end .download1 {
    padding: 10px 10px;
    margin: 0;
    color: white;
    font-weight: normal;
    font-size: 1rem;
}






